# ==============================================
# MTK Policy Rule
# ============

allow servicemanager zygote:dir { search };
allow servicemanager zygote:file { read open };
allow servicemanager zygote:process { getattr };
allow zygote system_server:binder { call transfer };
allow zygote activity_service:service_manager { find};
allow system_server zygote:binder { call transfer };
