#
# XLOG service configuration
#

# LD_LIBRARY_PATH="/system/lib" LD_PRELOAD="libccci_util.so:libmtk_symbols.so:liblog.so:libxlog.so" 

service xlogboot /system/bin/xlog boot
    user root
    oneshot
    disabled

service xlogdebugchanged /system/bin/xlog debug-changed
    user root
    oneshot
    disabled

on property:persist.mtk.aee.mode=1
    start xlogdebugchanged

on property:persist.mtk.aee.mode=2
    start xlogdebugchanged

on property:persist.mtk.aee.mode=3
    start xlogdebugchanged

on property:persist.mtk.aee.mode=4
    start xlogdebugchanged

on property:init.svc.adbd=running
    start xlogdebugchanged

on property:init.svc.adbd=stopped
    start xlogdebugchanged
